@using CoreOne.DOMAIN.Models
@model CoreOne.DOMAIN.Models.Action

@{
    ViewData["Title"] = "Action Creation";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/css/actioncreation.css" rel="stylesheet" />


<div class="container-fluid  p-2" style="background:rgba(255, 255, 255, 0.08);">
    <div class="row" style="margin-top: -19px; margin-bottom: -6px;">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Master</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>

                    </ol>
                </div>
                <h4 class="page-title">Action Creation</h4>
            </div>
        </div>
    </div>


    <div class="card" style="background:rgba(255, 255, 255, 0.08);border-radius: 9px; border: 1px solid #b1d8ff; backdrop-filter: blur(12px);
              -webkit-backdrop-filter: blur(12px); border-radius: 16px; box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); color: white;">
        <div class="card-body">

            <div class="row align-items-center p-2 mb-2" style="background:rgba(255, 255, 255, 0.08); border-radius: 9px; border: 1px solid #b1d8ff; backdrop-filter: blur(12px);
              -webkit-backdrop-filter: blur(12px); border-radius: 16px; box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); color: white;">
                <div class="col-md-3">
                    <button type="button" class="btn btn-blue waves-effect waves-light" style="background: linear-gradient(135deg, #8173fa, #5a48e5);border-radius: 11px;"
                            onclick="window.location.href='/ActionCreation/Index'">
                        <i class="mdi mdi-refresh-circle"></i> Refresh
                    </button>

                </div>

                <div class="col-md-5">
                </div>

                <div class="col-md-4 ms-auto d-flex justify-content-end">


                    <has-permission module-id="5" action-id="1">


                        <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#ActionModal" style="background: linear-gradient(135deg, #13dc72, #004993);    border-radius: 11px;">
                            <i class="mdi mdi-plus-circle"></i> Create Actions
                        </button>
                    </has-permission>
                </div>
            </div>


            <div class="row align-items-center p-2 mt-2 mb-2" style="background:rgba(255, 255, 255, 0.08); border-radius: 9px; border: 1px solid #b1d8ff; backdrop-filter: blur(12px);
              -webkit-backdrop-filter: blur(12px); border-radius: 16px; box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); color: #5f5c5c;">
               
  <table class="table table-bordered table-hover table-xl mt-2" id="actionTable">
    <thead class="table-primary">
        <tr>
            <th style="width:50px;">Sl No.</th>
            <th>Action Name</th>
            <th>Description</th>
            <th style="width:100px;">Status</th>
            <th style="width:150px;">Created Date</th>
            <th style="width:120px;">Action</th>
        </tr>
    </thead>
    <tbody>
                        @if (ViewBag.Actions != null && ViewBag.Actions.Count > 0)
                        {
                            int count = 0;
                            foreach (var item in ViewBag.Actions)
                            {
                                count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.ActionName</td>
                            <td>@item.Description</td>
                            <td>
                                        @if (item.ActiveFlag == 1)
                                        {
                                        <span class="badge bg-success">Active</span>
                                        }
                                        else
                                        {
                                        <span class="badge bg-danger">Inactive</span>
                                        }
                            </td>
                            <td>@item.CreatedDate</td>

                            <td>
                                        <a href="javascript:;"
                                           class="action-icon"
                                           onclick="loadAction(@item.ActionID);">
                                            <i class="mdi mdi-square-edit-outline" data-toggle="tooltip" title="View" style="color:rebeccapurple"></i>
                                        </a>


                                        <a href="javascript:;"
                                           class="action-icon"
                                           onclick="loadAction(@item.ActionID); $('#btnSaveAction').remove();;">
                                            <i class="mdi mdi-eye-circle-outline" data-toggle="tooltip" title="View" style="color:#fd683b"></i>
                                        </a>


                                        <a href="javascript:;"
                                           class="action-icon"
                                           onclick="deleteAction(@item.ActionID)">
                                            <i class="mdi mdi-delete" data-toggle="tooltip" title="Delete" style="color:red"></i>
                                        </a>

                           
                              


                            </td>
                        </tr>
                            }
                        }
                        else
                        {
                <tr>
                    <td colspan="6" class="text-center text-danger">No Records Found</td>
                </tr>
                        }
    </tbody>
</table>


           

            </div>



        </div>
    </div>






    <div class="modal fade" id="ActionModal" tabindex="-1" aria-labelledby="actionModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="actionModalLabel">Add Action :: [New]</h5>
                    <button type="button"
                            class="btn btn-light btn-close-circle shadow-sm"
                            onclick="window.location.href='/ActionCreation/Index'">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>

                <div class="modal-body">
                    @* Hidden field for RoleID *@
                    <input type="hidden" asp-for="ActionID" id="ActionID" />

                    <div class="mb-3">
                        <label asp-for="ActionName" class="form-label"></label>
                        <input asp-for="ActionName" class="form-control" id="ActionName" />
                        <span asp-validation-for="ActionName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Description" class="form-label"></label>
                        <textarea asp-for="Description" class="form-control" id="Description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>

                    </div>
                </div>


                <div class="modal-footer border-0 pt-1 d-flex justify-content-between">
                    <button type="button"
                            onclick="window.location.href='/ActionCreation/Index'"
                            class="btn btn-warning btn-sm"
                            data-bs-dismiss="modal">
                        <i class="mdi mdi-close-circle-outline me-1"></i> Cancel
                    </button>

                    <button type="button" id="btnSaveAction" class="btn btn-sm" style="background:forestgreen; color:white">
                        <i class="mdi mdi-content-save-outline me-1"></i> Save
                    </button>
                </div>

            </div>
        </div>
    </div>







</div>







@section Scripts
{
    <link href="~/assets/libs/datatables.net-bs5/css/datatables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/assets/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
    <script src="~/assets/libs/datatables.net/js/jquery.datatables.min.js"></script>
  
    <script>
        $(document).ready(function () {
            $("#actionTable").DataTable({
                responsive: true,
                pageLength: 10,
                ordering: true
            });
        });
    </script>

    <script src="~/js/actioncreation.js"></script>
}
